@model IEnumerable<DigerPersonel>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a class="btn btn-info" asp-action="Create">Diğer Personel Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>BolumId</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>DogumTarihi</th>
            <th>Cinsiyet</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BolumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogumTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                <a href="/DigerPersonel/Update/?digerPersonelId=@item.Id" class="btn btn-success">Güncelle</a>
                <a href="/DigerPersonel/Delete/?digerPersonelId=@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
